<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{{ titre }}</title>
{% include 'head.html' %}
</head>
<body>
{% include 'header.html' %}
<!--<h1>{{ titre }}</h1>-->
{% include 'menu.html' %}
<section>
<p>Entrez votre adresse sous la forme:  &nbsp;&nbsp;  <i>N x° x' x" W x° x' x"</i></p>

<div id="content">
     <form method="POST" action="{{ url_for('conversion') }}">
     <label for="adresse">Adresse</label>
     <input type="text" name="AdresseDMS"  value="{{ AdresseDMS }}" /><br />

     <label for="zoom">Zoom</label>
<input type="number" min="1" max="19" name="Zoom" value="{{ Zoom }}" step="1" /> <br />
     <input type="submit" />
     </form>
</div>
{% if Adresse1 != '' and Adresse2 != '' %}
<p>{{ Adresse1 }} &nbsp;&nbsp;&nbsp;&nbsp; {{ Adresse2 }}</p>
<p><a href="http://www.openstreetmap.org/?mlat={{ Adresse1 }}&mlon={{ Adresse2 }}/#map={{ Zoom }}/{{ Adresse1 }}/{{ Adresse2 }}">openstreetmap</a></p>
{% endif %}
<!-- <p>Date: <input type="text" id="datepicker"></p> -->
</section>
{% include 'footer.html' %}
</body>
</html>
