<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{{ titre }}</title>
<link href="{{ url_for('static',filename='mon_style.css')}}" rel="stylesheet" type="text/css" />
 <script type=text/javascript src="{{url_for('static', filename='mes_scripts.js') }}"></script>
<link rel="shortcut icon" href="{{ url_for('static' , filename='favicon.ico')}}">
</head>
<body>
<header><h1>{{ titre }} <img src="{{ url_for('static',filename ='fleur.png') }}" alt="fleur" title="fleur" border="0"></h1></header>
<section>
{% if  request.method == 'Get' %}
Bienvenue sur mon site
{% endif %}
<ul>
{% for ligne in lignes %}   <!-- Il existe avec jinja des boucles des conditions ... --> 
<li>{{ ligne }}</li>        <!-- On affiche le contenu de la liste ligne -->
{% endfor %}
</ul>
{% if  request.method == 'GET' %}
<div id="content">
     <form method="post" action="{{ url_for('accueil') }}">
     <label for="nom">Entrez votre nom:</label>
     <input type="text" name="nom" /><br />
     <label for="prenom">Entrez votre prénom:</label>
     <input type="text" name="prenom" /><br />
     <input type="submit" />
     </form>
</div>
{% else %}

{% if  nom != '' or prenom != '' %}
<p>bonjour {{ prenom }} {{ nom }}</p>
{% endif %}

{% endif %}


</section>
 <footer>Nous sommes le <em class=Rouge id="date"></em> <script type="text/javascript"> window.onload = datejs('date');</script> et il est <em class=Rouge id="heure"></em><script type="text/javascript">window.onload = heurejs('heure');</script>.</footer>
</body>
</html>
